<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Set Page</title>
</head>
<body>
<h2>Configure set</h2>
</body>
</html>


<!--
1 - user clicks exercise or submit button
2 - exercise is saved to workout session *** NOT CONFIGURED YET ***
3 - user is brought to sets page *** route to skeleton page set up ***
4 - there is a form with data input for reps, weight, etc


5 - the user inputs the data for the set
6 - the user clicks 'add set' button in form
7 - the set data is saved to the set table in database
8 - the set page reloads with a fresh form for a new set (optional - and a list, with submitted sets - prob not in mvp)
9 - the user repeats the process of adding a set
10 - when the user is finished they click - finish exercise button - which redirects them back to the add exercise page
-->
